body{
    background-color: white;
}

footer {
    padding-top: 2%;
    background-color: gainsboro;
    position: absolute;
        bottom: 0;
        width: 100%;}

footer a {
    color: black;
    font-size: 16px;
}

td, th{
    text-align: center;
}

#headerindex{
    background-color: black;
    color: white;
    border: solid 2px black;
}

#formulaire{
    margin-top: 5%;
}

#textepanel{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

button{
    align-content: center;
    margin-left: 45%;
}