<!DOCTYPE html>
<html lang="fr" ng-app="urlReductor">
  <head>
    <title>ITI - Reducteur URL</title>
    <link rel="icon" href="img/favicon.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body>
<header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Reducteur URL</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/all">All Urls</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
      </nav>
</header>
      
    <section class="container content-page">
        <div class="row">
            <div class="col-sm-2"> </div>
            
            <div class="col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading">        
                        <p class="h2 text-center">URL REDUCTEUR !</p>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="textepanel">
                            
                            <div class="col-sm-5">Un lien trop long ?<br/>Vous voulez le r&eacute;duire pour qu'il soit plus facile &agrave; diffuser ?
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-5">Entrez votre url ici et laissez la magie op&eacute;rer ! vous allez 	&ecirc;tre surpris par le r&eacute;sultat
                            </div>
                           
                        </div>
                        <div class="row">
                            <form action="raccourcir" method="POST">
                                <div class="col-sm-12">
                                    <label for="url">Nom associ&eacute; :</label>
                                    #springFormInput("url.nomUrl" "class='form-control' id='urlNom' placeholder='Mais qu&rsquo;est ce qu&rsquo;une licorne?'")
                                    <br/>
                                </div>
                                <div class="col-sm-12">
                                    <label for="url">URL &agrave; modifier :</label>
                                    #springFormInput("url.urlLong" "class='form-control' id='url' placeholder='ex : https://fr.wikipedia.org/wiki/Licorne'")
                                    <br/>
                                </div>
                                <button class="btn btn-primary" type="submit">Modifier</button>
                            </form>
                        </div>
                        
                       <!-- gestion js pour faire apparaitre et disparaitre cette div au click de Modifier --> 
                        #if($genere)
                        <div class="row" id="resultat">
                            <br/><br/>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="url">Votre nouvel url tout beau et tout petit !</label>
                                    <br>
                                    <div style="text-align: center;">
                                        <a href="/$urlApres.urlCourt">${urlBase}${url.urlCourt}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        #end
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><p><b>Auteurs :</b></p>
                    <br/>
                    <p><span class="glyphicon glyphicon-user"></span> Charles de Franssu</p>
                    <p><span class="glyphicon glyphicon-user"></span> Thomas Roqueplot</p>
                </div>
                <div class="col-sm-6 text-center">
                    <br/><br/>
                  <p>mentions l&eacute;gales ! et blabla juridique</p>
                </div>
                <div class="col-sm-3">
                    <a href="https://github.com/charleshei123/urlreductor"><span class="glyphicon glyphicon-globe"></span><b> Github Repository</b></a>
                    <br/>
                    <br/>
                    <a href="/contact"><span class="glyphicon glyphicon-comment"></span><b> Contact</b></a>
                    <span class="glyphicon glyphicon-group"></span>
                    <span class="glyphicon glyphicon-git"></span>
                </div>
            </div>
        </div>
    </footer>
  </body>
    <script type="text/javascript" src="js/fonctions.js"></script>
</html>