<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>ITI - Reducteur URL</title>
        <link rel="icon" href="img/favicon.ico" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="js/fonctions.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <!-- header à séparer ensuite avec java -->
<header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Reducteur URL</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/all">All Urls</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nom utilisateur</a></li> -->
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log in</a></li>
        </ul>
        </div>
      </nav>
</header>
        <!-- fin du header -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table  table-bordered">
                        <thead>
                              <tr class="active">
                                <th>#</th>
                                <th>Nom</th>
                                <th>Url long</th>  
                                <th>Url Raccourci</th> 
                                <th>Supprimer</th>
                              </tr>
                        </thead>

                        <tbody>
                            #foreach($url in $urls)
                            <tr>
                                <td>$url.id</td>
                                <td>$url.nomUrl</td>
                                <td><a href="$url.urlLong">$url.urlLong</a></td>
                                <td><a href="$url.urlCourt">${urlBase}${url.urlCourt}</a></td>
                                <td><a href="/supprimer/$url.id"><span class="glyphicon glyphicon-remove"><a href="$url.id"></span></a></td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><b>Auteurs :</b>
                    <br/><br/>
                    <p><span class="glyphicon glyphicon-user"></span> Charles de Franssu</p>
                    <p><span class="glyphicon glyphicon-user"></span> Thomas Roqueplot</p>
                </div>
                <div class="col-sm-6 text-center">
                    <br/><br/>
                    <p>Mentions l&eacute;gales ! et blabla juridique</p>
                </div>
                <div class="col-sm-3">
                    <a href="https://github.com/charleshei123/urlreductor"><span class="glyphicon glyphicon-globe"></span><b> Github Repository</b></a>
                    <br/>
                    <br/>
                    <a href="/contact"><span class="glyphicon glyphicon-comment"></span><b> Contact</b></a>
                    <span class="glyphicon glyphicon-group"></span>
                    <span class="glyphicon glyphicon-git"></span>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>