body{
    background-color: white;
    margin: 0;
    margin-bottom: 150px;
    padding: 0;
    height: 100%;
    width: 100%; 
}

footer{
    padding: 1%;
    background-color: gainsboro;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0
}

form{
    padding-bottom: 2%;
}

footer a {
    color: black;
    font-size: 16px;
}

td, th{
    text-align: center;
}

#headerindex{
    background-color: black;
    color: white;
    border: solid 2px black;
}

#textepanel{
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 3%;
    text-align: center;
}

button{
    align-content: center;
    margin-left: 45%;
}