<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>ITI - Reducteur URL</title>
    <link rel="icon" href="../img/favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/javascript" src="js/fonctions.js">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="META-INF.ressources/css/index.css">

  </head>

  <body>
<header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">Reducteur URL</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="tableau.html">All Urls</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="log.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        </div>
      </nav>
</header>
      
    <section class="container content-page">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-info">
                    <div class="panel-heading">        
                        <p class="h2 text-center">Contacter les Auteurs</p>
                    </div>
                    <div class="panel-body">
                        <form class="form-signin" method="post" action="accueil.php">                  
                            <input type="email" name="inputEmail" class="form-control" placeholder="Votre Adresse Email" required autofocus>
                            <br/>
                            <textarea class="form-control" name="comment" placeholder="Votre Message..."></textarea>
                            <br/>
                  <!-- lien hypertexte à virer -->          
                            <a href="../../../../../../../admin/tableau.html">
                            <button class="btn-lg btn-primary" type="submit">Envoyer</button>
                            </a>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><b>Auteurs :</b>
                    <br/><br/>
                    <p><span class="glyphicon glyphicon-user"></span> Charles de Franssu</p>
                    <p><span class="glyphicon glyphicon-user"></span> Thomas Roqueplot</p>
                </div>
                <div class="col-sm-6 text-center">
                    <br/><br/>
                    <p>mentions légales ! et blabla juridique</p>
                </div>
                <div class="col-sm-3">
                    <a href="https://github.com/charleshei123/urlreductor"><span class="glyphicon glyphicon-globe"></span><b> Github Repository</b></a>
                    <br/>
                    <br/>
                    <a href="contact.html"><span class="glyphicon glyphicon-comment"></span><b> Contact</b></a>
                    <span class="glyphicon glyphicon-group"></span>
                    <span class="glyphicon glyphicon-git"></span>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>